doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/api/user')
      | Users API response
    br
    br
    a(href='/api/email?email=test@test.com')
      | Emails API response
    br
    br
    a(href='/api/invitation')
      | Invitations API response
    block content
